*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    padding:20px 30px;
    border: none;
    background-color:#FF900E;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
   }
   .btn-primary:hover{
    background-color:rgb(198, 198, 245);
    transition: .5s;
    color: hsl(32, 100%, 57%);
   }
   main{
    max-width:1520px;
    padding: 0 200px;
   }
.para-text{
color: #727272;
font-size: 14px;
font-weight: 400;
line-height: 20px;
padding-bottom: 20px;
}
/* header style */
header{
    background: rgba(255, 144, 14, 0.10);
   max-width: 1520px;
   padding: 50px 200px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    justify-content: space-between;
    gap:30px;
    
}
nav h3{
    color: #131313;
font-family: Work Sans;
font-size: 33px;
font-weight: 700;
}
nav li{
    list-style: none;
        color: #424242;
        font-size: 18px;
        font-weight: 500;
}
nav li a{
    text-decoration: none;
}
/* banner part */
.banner-title{
   max-width: 640px; 
   margin:0 auto;
   padding-top: 70px;
   text-align: center;
}
.banner-title h1{
 color: #454444;
font-size: 50px;
font-weight: 700;
padding-bottom: 20px;
}

.banner img{
   width: 100%;
   margin-top:50px ;
}
/* feature part */
.team-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 30px;
}
.left-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.left-img-container img{
   width:100%
}
.right-content{
 width: 550px;
 padding-left:70px;

}
.right-content h3{
    font-size:35px ;
    color:#131313 ;
    font-weight: 700;
    padding-bottom: 24px;
}
#Quic{
    color: #727272; 
}
 #feature{
    color:#FF900E;
}
 /* fact style  */
 .fact-title h3{
    color: #3f3e3e;
font-size: 45px;
font-weight: 700;
padding-bottom: 20px;
 }
.fact-card-content{
    display: flex;
    justify-content:space-between;
    padding-top: 50px;
    flex: 1;
    overflow: hidden;
  align-items: center;
    
}
.card{
    text-align: center;
    padding-top: 20px;
    border-radius: 8px;
 border: 1px solid #FF900E;
width: 190px;
padding: 20px;
}

.card img{
  width: 45px;
}
.card h1{
    color: #424242;
font-size: 40px;
font-weight: 600;
padding-top: 15px;
}
/* sponspors start */
.sponspors{
    padding: 100px 0;
}
.sponspors-title{
    text-align: center;
}
.sponspors-title h1{
    color:#363535;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 20px;
}
.sponspors-img{
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  margin-top: 50px ;
 align-items: center;
}
.sponspors-img img{
width:120px;
}
/* footer start */
footer{
    max-width: 1520px;
   margin:50px  200px;
    border-radius: 8px;
    background: #ffe4c2;
    text-align: center;
    padding:50px 0 30px 0 ;
}





/* responsive style */
/* small device */
@media screen and (max-width:576px) {
    header,
    main,
    footer,
    .sponspors,
    .sponspors-title,
    .team-container,
    .fact-card-content
   {
       padding:20px;

    }
    .right-content{
        padding: 20px;
    }
   
    .fact-card-content,
    .sponspors-img{
       align-self: center;
    }
    
    nav,
    .team-container,
    .left-img-container,
    .fact-card-content,
    .sponspors-img
    {
      flex-direction: column;  
    }
    .fact-card-content,
    .sponspors-img{
        gap:20px;
    }
    .left-img-container{
        grid-template-columns: 1fr;
    }
    footer{
        margin: 20px;
    }
}
/* tablet and media device */
@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding:50px;  
     }
     nav,
     .team-container,
     .sponspors-img
     {
       flex-direction: column;   
     }
    .card{
        gap:10px;
    }
     .sponspors-img{
        gap:50px;
    }
    main,
    .team-container,
    .fact-card-content,
    .sponspors,
    .sponspors-title,
    footer
   {
       padding:20px;

    }
    .sponspors-img{
        align-items: center;
    }
}


